<ng-container *ngIf="loading">
  <app-loader></app-loader>
</ng-container>
<ng-container *ngIf="!loading && my_profile">
  <div class="container py-5">
    <div class="row">

      <div class="col-md-5">
        <app-userinfo [owner]="my_profile"></app-userinfo>
      </div>

      <div class="col-md-7">
        <div>
          <section class="">
            <h1>Quick Statistics</h1>
            <ng-container *ngIf="loading">
              <app-loader></app-loader>
            </ng-container>
            <ng-container *ngIf="!loading">
              <div class="row my-5">

                <div *ngFor="let stat of stats" class="col-12 col-md-6 mb-4">
                  <div class="card custom-card px-4 py-4">
                    <div class="c-body">
                      <h4>{{stat.title}}</h4>
                      <div class="stat mt-3 d-flex align-items-center">
                        <span class="icon">
                          <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="value ms-4">
                          {{stat.value}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </ng-container>
          </section>
        </div>
      </div>
    </div>

  </div>


  <div class="container">

    <section class="section">
      <h1>Repositories</h1>
      <!-- {{repos | json}} -->
      <div class="row my-5">

        <div *ngFor="let repo of repos" class="col-12 col-md-6 col-lg-4 col-xl-4 mb-4">
          <div class="card custom-card px-4 py-4">
            <div class="c-body">
              <a class="custom-link" routerLink="/github/repositories/{{repo.owner.login}}/{{repo.name}}">
                <h4 class="text-capitalize">{{repo.name}}</h4>
              </a>
              <p>
                <i class="fa-solid fa-calendar me-3"></i>
                <span>
                  {{repo.created_at | date}}
                </span>
              </p>
            </div>
            <div class="c-footer d-flex">
              <div class="">
                <a class="custom-link" href="{{repo.html_url}}" target="__blank" referrerpolicy="noreferrer">
                  <span class="me-3">
                    View on Git
                  </span>
                  <span>
                    <i class="fa fars fa-external-link me-4"></i>
                  </span>
                </a>
              </div>
              <div class="ms-auto">
                <span>
                  <i class="fa fab fa-git me-4"></i>
                </span>
                <span>
                  <i class="fa fa-solid fa-code-fork me-2"></i>
                  {{repo.forks}}
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

</ng-container>